
#pedagogie {
    margin:auto;
    text-align:center;
}
#pedagogie_question, #pedagogie_reponses {
    width:85%;
}
#pedagogie_reponse_gauche {
    text-align:center;
    display:inline-block;
    width:48%;
}
#pedagogie_reponse_droite {
    text-align:center;
    display:inline-block;
    width:48%;
}
#pedagogie_reponse1:hover, #pedagogie_reponse2:hover, #pedagogie_reponse3:hover, #pedagogie_reponse4:hover {
    color:#204D9B;
    cursor: pointer;
}
#pedagogie_reponsebonne1, #pedagogie_reponsebonne2, #pedagogie_reponsebonne3, #pedagogie_reponsebonne4, #pedagogie_reponsebonne5, #pedagogie_reponsebonne6 {
    font-size: 300%;
}