body {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #EFEBE9;
    /* max-width: 1200px; */
}

h1 {
    text-align: center;
    margin: 0;
}

#titre {
    background-color: #3949AB;
    padding: 20px;
}

h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

p {
    margin: 0;
}

#resume {
    background-color: #1A237E;
    padding: 20px;
}

#constat {
    background-color: #3949AB;
    padding: 20px;
}

.form {
    margin: 5px auto 5px auto;
    width: 75%;
}

.form p,
.form select {
    display: inline-block;
    width: 48%;
}

.form p {
    margin-right: 5px;
    text-align: right;
}

.form select {
    margin-left: 5px;
}

.form input {
    display: inline-block;
    margin: 0;
}
