body {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #EFEBE9;
    /* max-width: 1200px; */
}

button, textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

h1 {
    text-align: center;
    margin: 0;
}

#titre {
    background-color: #3949AB;
    padding: 20px;
}

h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

p {
    margin: 0;
}

#resume-fond {
    background-color: #1A237E;
    padding: 20px;
}

#resume {
    width: 80%;
    margin: auto;
}

#resume div {
    margin: auto;
    text-align: center;
}

#constat-fond {
    background-color: #3949AB;
    padding: 20px;
}

#constat {
    width: 85%;
    margin: auto;
}

.form {
    margin: 5px auto 5px auto;
    width: 75%;
    padding: 0;
}

.form p,
.form select {
    display: inline-block;
    width: 48%;
}

.form p {
    margin-right: 5px;
    text-align: right;
}

.form select {
    margin-left: 5px;
}

.form input {
    display: inline-block;
    margin: 0;
}

#e1 {
    background-color: #1A237E;
    padding: 10px;
}

#e1 div {
    text-align: center;
    margin-bottom: 10px;
}

#lancement-pedagogie {
    background-color: #EF5350;
    padding: 20px;
    text-align: center;
    color: black;
}
