
#pedagogie {
    margin:auto;
    text-align:center;
}
#pedagogie_image {
    
}
#pedagogie_question {
    
}
#pedagogie_reponses {
    
}
#pedagogie_reponse_gauche {
    text-align:right;
    float:left;
    margin-left:35%;
}
#pedagogie_reponse_droite {
    text-align:left;
    float:right;
    margin-right:35%;
}
#pedagogie_reponse1:hover, #pedagogie_reponse2:hover, #pedagogie_reponse3:hover, #pedagogie_reponse4:hover {
    color:#204D9B;
    cursor: pointer;
}
#pedagogie_reponsebonne {
    font-size: 300%;
}